@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

body {
  @apply font-poppins text-dark;
  background-color: #fcfcff;
}

h1 {
  @apply text-3xl font-bold leading-tight;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

input {
  @apply bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
}

input:focus {
  @apply;
}

.btn {
  @apply flex items-center text-center text-white py-2 px-4 cursor-pointer rounded-md duration-300;
}

.btn:hover {
  @apply bg-gray-700;
}

.btn-outline {
  @apply flex items-center bg-transparent my-3 text-center inline-block border text-white font-bold py-2 px-6 cursor-pointer rounded-md duration-300;
  border-color: hsla(0, 0%, 100%, 0.25);
}

.btn-icon {
}

.btn-outline:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
}

@include breakpoint(md) {
  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }
}
